body{background-image: url('../images/dashbaord_bg2.png');background-size: cover;background-repeat: no-repeat;}
body::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
#userSecondTab,#userThirdTab{padding: 20px 10px;}
.stu-exam-tab .header{background:rgba(0, 0, 0, 0.6);padding: 10px 20px;width: 100%;display: inline-block;}
.stu-exam-tab .header-name,
.stu-exam-tab .header-text{color: #fff;font-size: 16px;display: inline-block;width: 100%;margin: 5px 0;}
.stu-exam-tab .header h2{    color: #ffffff;
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin: 0;
    line-height: 62px;}
.stu-exam-tab .exam-body-left{border-right:3px solid red;}
.exam-answer-selction{margin:30px 0 30px 20px;}
.stu-exam-tab .exam-body{padding:20px;background:rgba(0, 0, 0, 0.3);border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 100%;}
.stu-exam-tab .exam-body .mark-review label,
.stu-exam-tab .exam-answer-selction .exam-ans-form .radio,
.stu-exam-tab .exam-answer-selction .exam-ans-form .radio label{margin: 0;padding: 0;}
.stu-exam-tab .exam-body .mark-review input,
.stu-exam-tab .exam-answer-selction .exam-ans-form .radio input{    margin-left: -20px;
    margin-top: 10px;}
.stu-exam-tab .mark-review {    margin-top: 30px;
    margin-left: 20px;}
.stu-exam-tab .mark-review label{color: #FFA500 !important;}
.stu-exam-tab .exam-btn-wrap{margin: 30px 0;
    display: inline-block;}
.exam-btn-wrap .btn-left{margin-right: 20px;}
.exam-ques-num{display: inline-block;width: 100%;}
.exam-ques-num span{margin: 0 5px;padding: 15px 15px;
    background: #D3D3D3;
    min-width: 48px;}
    .exam-ques-num span:hover{background: #fff;}
.exam-ques-num span.btn-current,.exam-ques-num span:active{    box-shadow: inset 7px 7px 7px rgba(0,0,0,0.8);
      -moz-box-shadow: inset 7px 7px 7px rgba(0,0,0,0.8);
      -webkit-box-shadow:inset 7px 7px 7px rgba(0,0,0,0.8);}
.exam-ques-num span.btn-unanswered{    background: #FF0000;
    color: #ffffff;}

    .exam-ques-num span.btn-answered{    background: #008000;
    color: #ffffff;}
.exam-ques-num span.btn-markreview{    background: #FFA500;
    color: #ffffff;}
.exam-ques-num .ques-rows{display: inline-block;    width: 100%;
    margin: 10px 0;}


/* custum scroll ba*****/
.scrollbar {
  margin-left: 22px;
  float: left;
  max-height: 360px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#exam-ques-num {
  text-align: center;
  margin: auto;
}

#style-1::-webkit-scrollbar,
#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar,
#style-5::-webkit-scrollbar,
#style-6::-webkit-scrollbar,
#style-7::-webkit-scrollbar,
#style-8::-webkit-scrollbar,
#style-9::-webkit-scrollbar,
#style-10::-webkit-scrollbar,
#style-11::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/**  STYLE 1 */
#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* custum scroll bar ends ***/
/* student exam tab*/ 

/* my exams css starts here */
#userThirdTab .my-exams{padding: 100px;}
#userThirdTab .tab-content h3{color: #fff;margin-bottom: 40px;}
#userThirdTab .tab-content p{color: #fff;font-size: 16px;}
#userThirdTab .tab-content .complte-exam{cursor: pointer;color: }
#userThirdTab .tab-content{    padding:40px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 100%;}
#userThirdTab .nav-tabs>li>a{color: #ffffff;}
#userThirdTab .nav-tabs>li.active a{color:#333;}
#userThirdTab #upcoming .table-bordered>tbody>tr>td,
#userThirdTab #attended .table-bordered>tbody>tr>td{text-align: center;}
#userThirdTab #attended .table-bordered>tbody>tr>td.sub-table button,
#userThirdTab #upcoming .table-bordered>tbody>tr>td.sub-table button{margin-top: 4px;
    display: inline-block;color:#333;}
#userThirdTab .modal .modal-content{background: #fff;}
#userThirdTab .modal .modal-body .exam-data{margin:10px 0;border-bottom: 1px solid #363636;}
#userThirdTab .modal .modal-body .exam-data label{color:#696969;padding: 0;margin: 0;display: inline-block;width: 30%;    font-weight: 700;font-size: 16px; }
#userThirdTab .modal .modal-body .exam-data span{display: inline-block;width: 30%; font-weight: 500;font-size: 16px;text-align: left;}
#userThirdTab .modal .modal-footer{border: none;}
/* my exams css ends here */
#user-detail .user-profile_container .adm_inputs_wrap label,
#parent-detail .user-profile_container .adm_inputs_wrap label,
#user-prof .user-profile_container .adm_inputs_wrap label{color:#ffffff;line-height: 38px;font-weight: 500;
    font-size: 18px;}
.transparent-bg{background: rgba(0,0,0,0.4);position: absolute;left:0;}
#User_Profile1{padding: 20px;}

.exam-ans-form label{
	color:#FFF;
}
